<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Blog Django</a></h1>
        </div>

        <div>
            <p>published: 14.01.2017, 18:52</p>
            <h2><a href="">Il mio primo post</a></h2>
            <p>Un testo a caso.</p>
        </div>

        <div>
            <p>published: 14.01.2017, 18:53</p>
            <h2><a href="">Il mio secondo post</a></h2>
            <p>Un altro testo a caso.</p>
        </div>
    </body>
</html>
